# Checkpoints
*.pth

# WandB
wandb/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Secrets
.env
*.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Run artifacts
cache/
*.npy
submission*.csv

.*
!.gitignore
!.gitattributes
